[submodule "rpackage"]
	path = rpackage
	url = https://github.com/jaysnm/test.r.package.git
[submodule "pserver/server"]
	path = pserver/server
	url = https://github.com/seabbs/personal-server.git
[submodule "easy-pdf"]
	path = easy-pdf
	url = https://github.com/jaysnm/django-easy-pdf-demo-app.git
